html
    head
        title Demo
        link(href="/assets/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    body
        nav.navbar.navbar-inverse
            .container-fluid
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
