include header.pug

.container
    if (locals.flash && locals.flash.error)
        .alert.alert-danger.message
           p #{flash.error}
    form(action="/", method="post", class="form-group")
        .field
            label(for="message") Message
            input(name="message" class="form-control" id="message")
        button(type="submit" class="btn btn-primary") Envoyer


include footer.pug